
.carousel {
    height: 30rem;
    display: flex;
    margin-top: 2rem;
  }
  
  .c-image {
    width: 80rem;
    height: 30rem;
    object-fit: cover;
  }
  
  .carousel-inner {
    height: 30rem;
  }