body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer
{
  height: 20vh;
  position: absolute;
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root
{
  max-width: 100vw;
  min-height: 100vh;
  background-color: #282a36;
}

.list {
  display: flex;
  overflow: scroll;
}

.item {
  color: #f8f8f2;
  width: 20rem;
  height: 40rem;
  transition: .4s;
}

.item:hover img {
  width: 22rem;
}

.item:hover {
  width: 22rem;
}

.item img {
  object-fit: contain;
  width: 20rem;
  transition: .3s;
}

.item-info {

  transition: 3s;
}